*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Thumbs.db
ehthumbs.db
Desktop.ini

.classpath
.idea/
.project
.settings/
DynamicLoadFrame.iml
ant.properties
assets/
bin/
build.xml
gen/
libs/
local.properties
out/
proguard/
project.properties
res/
